.financeForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 300px;
    height: 150px;
    padding: 10px;
}
input{
    border-style: solid;
    border-width: 1px;
    width: 100px;
}
button{
    background-color: #A0F0CC;
}